################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/CopyPaste/CSharp/CopyPaste/.vs/CopyPaste
/CopyPaste/CSharp/CopyPaste/bin/Debug
/CopyPaste/CSharp/CopyPaste/obj
/CopyPaste/CSharp/Sevice.Core/obj
/CopyPaste/CSharp/Sevice.Core/bin/Debug
/CopyPaste/CSharp/Services/obj
/CopyPaste/CSharp/Services/bin/Debug
/CopyPaste/CSharp/CopyPaste/.vs
/Maui/Validation/Validation/.vs
/Maui/Validation/Validation/bin/Debug
/Maui/Validation/Validation/obj
/Maui/Validation/Shared/bin/Debug
/Maui/Validation/Shared/obj
/CopyPaste/CSharp/CopyPaste/Services/obj
/CopyPaste/CSharp/CopyPaste/Sevice.Core/obj
/FileDragAndDrop/Wpf/.vs
/FileDragAndDrop/Wpf/FileDragAndDrop/.vs
/FileDragAndDrop/Wpf/FileDragAndDrop/bin/Debug/net8.0-windows
/FileDragAndDrop/Wpf/FileDragAndDrop/obj
/FileDragAndDrop/maui/FileDragAndDrop/.vs
/ProgressRing/Maui/DotProgressRing/.vs/DotProgressRing
/ProgressRing/Maui/DotProgressRing/bin/Debug
/ProgressRing/Maui/DotProgressRing/obj
/ProgressRing/Maui/DotProgressRing/.vs/ProjectEvaluation
/ProgressRing/Wpf/DotProgressRingWpf/.vs/DotProgressRingWpf
/ProgressRing/Wpf/DotProgressRingWpf/bin/Debug
/ProgressRing/Wpf/DotProgressRingWpf/obj
